@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #3b82f6, #9333ea, #7c3aed);
}

button {
  @apply not-disabled:cursor-pointer;
}

/* Hide scrollbar for mobile tabs */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
